services:
  api:
    image: kubernetes-python-tasks-api:latest
    build: 
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_USER: demo
      DB_PASSWORD: demo
      DB_PORT: "3306"
      DB_NAME: demo
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  db:
    image: kubernetes-python-tasks-db:latest
    build:
      context: .
      dockerfile: mariadb.dockerfile
    environment:
      MYSQL_ROOT_PASSWORD: demo
      MYSQL_DATABASE: demo
      MYSQL_USER: demo
      MYSQL_PASSWORD: demo
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 20s
      retries: 10
      interval: 10s
    networks:
      - app-network

volumes:
  mariadb_data:

networks:
  app-network:
    driver: bridge