apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb-operator-instance
  namespace: dictionary-api
spec:
  rootPasswordSecretKeyRef:
    name: db-credentials
    key: mysql_root_password

  storage:
    size: 5Gi
    storageClassName: local-path

  port: 3306

  startupProbe:
    exec:
      command: ["/bin/sh", "-c", "mariadb-admin ping -u demo -p$MYSQL_ROOT_PASSWORD"]
    initialDelaySeconds: 10
    periodSeconds: 5
    failureThreshold: 30

  livenessProbe:
    exec:
      command: ["/bin/sh", "-c", "mariadb-admin ping -u demo -p$MYSQL_ROOT_PASSWORD"]
    initialDelaySeconds: 30
    periodSeconds: 20
    timeoutSeconds: 5

  readinessProbe:
    exec:
      command: ["/bin/sh", "-c", "mariadb-admin ping -u demo -p$MYSQL_ROOT_PASSWORD"]
    initialDelaySeconds: 15
    periodSeconds: 15
    timeoutSeconds: 5

  replicas: 1
